# AWS account credentials
AWS_ACCESS_KEY_ID= AKIAIKZWRBMPVCXMS7PQ
AWS_SECRET_ACCESS_KEY=  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

##
# A seed file contains information to populate the database. It contains:
# - roles, usernames, passwords
# - integration tokens gained via a successful oauth handshake,
#   used to communicate with a point-of-sale (Vend) on behalf of retailers
# - suppliers, outlets
# - anything and everything which we cannot add via a UI for onboarding warehouse users
##
