# AWS account credentials
AWS_ACCESS_KEY_ID= AKIAIP6TJ7WJIA4GPZ7Q
AWS_SECRET_ACCESS_KEY= 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

##
# A seed file contains information to populate the database. It contains:
# - roles, usernames, passwords
# - integration tokens gained via a successful oauth handshake,
#   used to communicate with a point-of-sale (Vend) on behalf of retailers
# - suppliers, outlets
# - anything and everything which we cannot add via a UI for onboarding warehouse users
##
